extends layout

block content
  h1 #{title}: #{genre.name}
  
  if associated_books && associated_books.length > 0
    p This genre cannot be deleted because it is associated with the following books:
    ul
      each book in associated_books
        li
          a(href=book.url) #{book.title}
    p You must delete the associated books before deleting this genre.
  else
    p Are you sure you want to delete this genre?
    form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden', name='genreid', value=genre._id, required='true')
      button.btn.btn-danger(type='submit') Delete
      a.btn.btn-secondary(href='/catalog/genres') Cancel