extends layout

block content
  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')
    - if (booksInGenre.length > 0)
      h4 Books
      ul
        each book in booksInGenre
          li
            a(href=book.url) #{book.title}
            p #{book.summary}
    - else
      p This genre does not have associated books.
  p
  a(href=`/catalog/genre/${genre._id}/update`) Update Genre
  p
  a(href=`/catalog/genre/${genre._id}/delete`) Delete Genre
